a {
  color: #cb2f2f;
  text-decoration: none;
}

body {
  background-image: url("../img/textured_paper.png");
  font-family: 'Roboto', sans-serif;
}

.container {
  min-width: 300px;
  max-width: 800px;
  padding: 4px;
  margin: 0 auto;
  background-color: #ecf0f1;

  -webkit-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.23);
  -moz-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.23);
  box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.23);
}

#cardwrapper {

  width: 100%;
  padding-bottom: 40%; /* 16:9 */
  position: relative;

  margin: 0 auto;
  background-color: #fff78c;
  background-image: 
  linear-gradient(90deg, transparent 79px, #F08080 79px, #F08080 81px, transparent 81px),
  linear-gradient(#abced4 .1em, transparent .1em);
  background-size: 100% 1.2em;
  border-radius: 0.4em;

  -webkit-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.43);
  -moz-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.43);
  box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.43);

}

@media all and (min-width: 300px)  {  .container  { font-size:0.9em;  } }
@media all and (min-width: 350px)  {  .container  { font-size:1.0em;  } }
@media all and (min-width: 400px)  {  .container  { font-size:1.1em;  } }
@media all and (min-width: 450px)  {  .container  { font-size:1.3em;  } }
@media all and (min-width: 500px)  {  .container  { font-size:1.4em;  } }
@media all and (min-width: 550px)  {  .container  { font-size:1.52em;  } }
@media all and (min-width: 600px)  {  .container  { font-size:1.65em;  } }
@media all and (min-width: 650px)  {  .container  { font-size:1.75em;  } }
@media all and (min-width: 700px)  {  .container  { font-size:1.95em;  } }
@media all and (min-width: 750px)  {  .container  { font-size:2.1em;  } }
@media all and (min-width: 800px)  {  .container  { font-size:2.4em;  } }

#card {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;

  padding: 2%;
  text-align: center;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

#cardtext {
  padding-left: 2em auto;
  padding-right:2em auto;
}

.footer {
  max-width: 900px;
  margin: 0 auto;
  padding-top: 4px;
  text-align: center;
  font-size: 10px;
}

ul {
  list-style: none;
  padding-left: 1.2em;
  text-indent: -1.2em;
}

li:before {
  content: "»";
  display: block;
  float: left;
  width: 1.2em;
}

.buttonwrapper {
  margin: 0 auto;
  min-width: 300px;
  text-align:center;
}

.btn {
  margin-top: 4px;
  margin-left: 4px;
  margin-right: 4px;
  display:inline-block;
  width:25%;
  background: #dde4e6;
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  color: black;
  padding: 5px;
  text-decoration: none;

    -webkit-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.43);
  -moz-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.43);
  box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.43);

  text-align: center;
}

#page {
  position: absolute;
  bottom: 0px;
  right: 0.5%;
}

#buttonwrapper2 .btn {
  width:40%;
}

.btn:hover {
  background: #ecf0f1;
  text-decoration: none;
}